.container {
  padding: 10vh;
}

.wrap {
  align-items: center;
  
}



h3 {
  width: 100%;
}

.endForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media only screen and (min-width: 431px) { 
  .endForm {
    flex-direction: row;
    align-items: center;
  }

  
}